@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Sidebar-specific styles only */
.sidebar ul {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.sidebar ul li {
  position: relative;
  list-style: none;
}

.sidebar ul li a {
  position: relative;
  font-size: 2.5rem;
  text-decoration: none;
  color: #555;
  letter-spacing: 0.25rem;
  line-height: 2.5rem;
  text-transform: capitalize;
  font-weight: 600;
  transition: color 0.3s ease;
}

.sidebar ul li a:hover::before {
  width: 100%;
  filter: drop-shadow(0 0 15px var(--clr));
}

.sidebar ul li a::before {
  content: attr(data-text);
  position: absolute;
  color: var(--clr);
  width: 0;
  height: 100%;
  overflow: hidden;
  border-right: 6px solid var(--clr);
  transition: 1s;
}



/* Footer figure styles */
footer figure {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

footer figure svg {
  margin-right: 10px;
}

footer figure figcaption a {
  color: #525252;
  text-decoration: none;
  font-size: 0.9rem;
}

footer figure figcaption a:hover {
  text-decoration: underline;
}
